<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cataract Detection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale = 1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">

</head>
<body>
    <div class="main-section container-fluid">
        <div class="row result-page">
            <div class="col-12">
                <h1 class="header">Group - 180    Cataract Detection</h1>
                <h1 class="header">Presented by -                             </h1>
                <h1 class="header">               Ayan Kumar Sinha (20BCE11009)</h1>
                <h1 class="header">               Shishir Sharma (20BCE11007)</h1>
                <h1 class="header">               Aman Vishwakarma (20BCE11006)</h1>
                <h1 class="header">               Saurabh Prakash (20BCE11005)</h1>
                <h1 class="header">               Bhuvan Sood (20BCE11018)</h1>
                <h1 class="header">               Hamza Farooqui (20MIM10026)</h1>
                <h1 class="header">               Atishay Jain (20BCY10153)</h1>
            </div>
        </div>
    </div>
</body>
</html>